
h1{font-size: 2rem;
font-family: 'Montserrat', sans-serif;
background-color: blue;}
header{background-color: burlywood;}
.header{display: flex;
        justify-content: space-between;}

ul li{list-style: none;}
a{list-style: none;}

.ul li:hover{background-color: lightgreen;}

.header img{width: 5rem;}
.header_nav ul li{display: inline-block;
margin: 10px;
}
main{background-color: rgba(255, 0, 0, 0.829);}
main img{width: 25rem;
border: 2px solid black;}

.telefono a img{width: 2rem;}
.telefono{position: fixed;
        top: 4rem;
        right:4rem;
    }
footer{background-color: deepskyblue;}

.main_img{display: grid;
        grid-template-areas: "foto  foto foto" "foto  foto foto" "foto  foto foto";
        max-width: 30%;
     }
.imagen img{grid-area: foto;
        max-width: 40%;
       border: 0.2rem solid black;}

.imagen img:hover{border-radius: 50%;
                  transform: rotate(50deg);}



                  @keyframes efecto {
                        0% {
                            width: 100px;
                        }
                        25% {
                            width: 300px;
                        }
                        50% {
                            width: 200px;
                            background-color: lightblue;
                        }
                        75% {
                            width: 300px;
                        }
                        100% {
                            width: 100px;
                            background-color: lightyellow;
                        }
                    }

                    .efecto:hover {
                        animation-name: efecto;
                        animation-iteration-count: infinite;
                        animation-timing-function: ease-in;
                        animation-duration: 5s;
                        animation-delay: 0s;
                    }
/* ------MEDIA QUERY------------- */
@media (max-width:480px){
h1{font-size: 2rem;
  background-color: pink;}

.main_img{background-color: blue;}

.main_img{display: grid;
        grid-template: min-content;
        grid-template-areas: "foto foto" "foto  foto" "foto  foto" "foto  foto" "foto  foto";
        max-width: 100%;
     }
.imagen img:hover{border-radius: 50%;
                  transform: rotate(50deg);}

.imagen img{grid-area: foto;
          max-width: 40%;
         border: 0.2rem solid black;}
} 

@media (min-width: 481px) and (max-width: 768px){

h1{color:pink;}
.main_img{background-color: aqua;}
 }

 .main_img{display: grid;
        grid-template: min-content;
        grid-template-areas: "foto foto foto" "foto foto foto" "foto foto foto" ;
        max-width: 100%;
     }
.imagen img:hover{border-radius: 50%;
                  transform: rotate(50deg);}

.imagen img{grid-area: foto;
          max-width: 40%;
         border: 0.2rem solid black;}